# Informational files
include README.md

# Include tests.
graft tests

# Exclude any compile Python files (most likely grafted by tests/ directory).
global-exclude *.pyc

# Setup-related things
include pavement.py
include requirements-dev.txt
include requirements.txt
include setup.py
include tox.ini
include zksync/config/console.yaml
