# Testing
pytest==6.1.0
py==1.9.0

# Linting
flake8==3.8.3
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.2.0

# Documentation (TBC)
docutils==0.11
Jinja2==2.7.1
MarkupSafe==0.19
Pygments==1.6
Sphinx==1.2

# Miscellaneous
colorama==0.4.3
Paver==1.3.4
